body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
  }
  
  h1 {
    font-size: 2em;
  }
  
  main {
    padding: 2em;
  }
  
  section {
    margin-bottom: 2em;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 1em;
    padding: 0.5em 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .nivel-tecnico, .nivel-tecnologo, .nivel-profesional, .especializacion {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  h2 {
    font-size: 1.5em;
    margin-top: 0;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
  }
  